table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #999;
  padding: 10px;
  vertical-align: top;
  text-align: center;
}

.ramo {
  background-color: #4B4B4B;
  color: white;
  padding: 6px;
  margin: 4px 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.2em;
}

.ramo.tachado {
  text-decoration: line-through;
  opacity: 0.6;
}
